body {
  margin: 0;
  box-sizing: border-box;
}

/* 전체 박스  */
.head {
  position: relative;

  width: 646px;
  margin: 100px auto;
}

/* 머리 이미지 , .face보다 상위 */
.hair {
  position: relative;

  width: 100%;

  aspect-ratio: 530/400;
  vertical-align: top;

  z-index: 1;
}

/* 전체 박스를 기준으로 */
.face {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-45%, -56%);
  filter: drop-shadow(2px 3px 5px #67b278);
}

/* 눈썹 */
.eyebrows-box {
  position: absolute;
  top: 30%;
  left: 10%;

  display: flex;
  justify-content: space-between;

  width: 80%;
}
.eyebrow {
  display: inline-block;

  width: 120px;
  height: 50px;

  border-width: 5px 3px 0 0;
  border-style: solid;
  border-color: #416629;
  border-radius: 0 50% 0 0;
}
.eyebrow.left {
  transform: rotate(7deg) scalex(-1);

  animation: leftEyebrowMoving 2s ease infinite;
}
.eyebrow.right {
  transform: rotate(-7deg);

  animation: rightEyebrowMoving 2s ease infinite;
}

/* 볼터치 */
.cheek-left {
  position: absolute;
  top: 60%;
  left: 0;

  width: 100px;
  height: 50px;

  border-radius: 50%;

  background-color: #c58c78b8;

  transform: rotate(20deg);
  filter: blur(25px);

  animation: cheekMoving 2s ease infinite;
}
.cheek-right {
  position: absolute;
  top: 65%;
  right: 10%;

  width: 50px;
  height: 40px;

  border-radius: 50%;

  background-color: #c58c78b8;

  transform: rotate(-20deg);
  filter: blur(20px);

  animation: cheekMoving 2s ease infinite;
}

/* 코 */
.nose {
  position: absolute;
  top: 63%;
  left: 47%;

  width: 16px;
  height: 50px;

  border-radius: 8px;

  background-color: #83b64f;

  transform: rotate(282deg);

  animation: noseMoving 2s ease infinite;
}
.nose:after {
  content: "";

  position: absolute;
  top: 5px;
  left: -12px;

  width: 40px;
  height: 40px;
  border-top: 1px solid #6a9e3c;
  border-radius: 9.6px;

  background-color: #83b64f;

  transform: rotate(45deg);
  clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
}

/* 입 */
.mouth-box {
  position: absolute;
  top: 76%;
  left: 38%;

  width: 60px;
  height: 60px;

  transform: rotate(12deg);

  animation: mouthMoving 2s ease infinite;
}

.lip-up {
  display: flex;
  justify-content: center;

  width: 55px;
  height: 20px;

  border-width: 5px 2px 0 2px;
  border-style: solid;
  border-color: #d28dbc;
  border-radius: 90% 90% 0 0;

  background-color: #3b1419;

  overflow: hidden;
}
.tooth {
  width: 100%;
  height: 10px;

  background-color: #efe9d3;
}
.lip-down {
  position: relative;
  top: -11%;

  width: 57px;
  height: 10px;

  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #d28dbc;
  border-radius: 30% 80% 30% 30%;

  background-color: #d28dbc;

  border-color: #d28dbc;
  animation: lipMoving 2s ease infinite;

  z-index: 1;
}

/* 속눈썹때문에 skin밖으로 뺌 */
.eyes-box {
  position: absolute;
  top: 40%;
  left: 35%;

  display: flex;
  justify-content: space-between;

  width: 250px;
}

/* 눈 중심 */
.eye.left,
.eye.right {
  position: relative;
}

/* 속눈썹 */
.eyelash {
  position: absolute;

  z-index: 2;
}
.eyelash.left {
  top: -23px;
  left: -25px;

  transform: rotate(58deg) scalex(-1);

  animation: leftEyelashMoving 2s ease infinite;
}
.eyelash.right {
  top: -14px;
  right: -30px;

  transform: rotate(-42deg);

  animation: rigthEyelashMoving 2s ease infinite;
}
.eyelash > div {
  width: 40px;
  height: 11px;
  margin-bottom: 5px;

  border-radius: 0 0 100% 0;

  background-color: black;
}

/* 눈 */
.eye-base {
  position: relative;

  width: 100px;

  border: 1px solid #51783d;

  background-color: #e2e4d7;

  overflow: hidden;
}
.eye-base.left {
  height: 70px;
  border-radius: 40% 70% 50% 90%;

  box-shadow: -2px -3px 5px #996d57, -3px 4px 0 #579545, -5px 8px 10px #7fb860;

  animation: lefEyeMoving 2s ease infinite;
}
.eye-base.right {
  height: 80px;
  border-radius: 50% 30% 50% 50%;

  box-shadow: 2px -3px 5px #996d57, 3px 4px 0 #579545, 5px 8px 10px #7fb860;

  animation: rigthEyeMovig 2s ease infinite;
}

/* 아이라인 */
.eyeline {
  position: relative;

  width: 100px;

  border-width: 5px 0 0 0;
  border-style: solid;
  border-color: #1b2719;

  z-index: 1;
}
.eyeline.left {
  height: 70px;
  border-radius: 40% 70% 50% 90%;

  animation: leftEyelineMoving 2s ease infinite;
}
.eyeline.right {
  height: 80px;
  border-radius: 45% 29% 50% 50%;

  animation: rightEyelineMoving 2s ease infinite;
}

/* 눈을 감았을때 보이는 아이라인 */
[class^="close"] {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;

  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: #1b2719;

  opacity: 0;

  z-index: 1;
}
.close-left {
  height: 70px;
  border-radius: 40% 70% 50% 90%;

  animation: closeEyeline 2s ease infinite;
}
.close-right {
  height: 80px;
  border-radius: 45% 29% 50% 50%;

  animation: closeEyeline 2s ease infinite;
}

/* 눈동자 위치 */
.eye-left {
  position: absolute;
  top: -20%;
  right: 0;

  animation: leftEyeMoving 2s infinite;
}
.eye-right {
  position: absolute;
  top: -20%;
  left: 20%;

  animation: rightEyeMoving 2s infinite;
}

/* 초록색 눈동자 */
.green-eye {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 55px;

  border: 2px solid #01020160;
  border-radius: 50%;

  background: radial-gradient(#44af79, #166837);
}

/* 검정색 눈동자 */
.black-eye {
  width: 33px;
  height: 30px;

  border-radius: 50%;

  background-color: #010005;
}

/* 하얗색 눈동자 데코레이션 */
.white-eye-deco {
  position: absolute;
  right: 10px;
  bottom: 10px;

  width: 5px;
  height: 5px;
  border-radius: 50%;

  background-color: #f7ffeb;

  filter: blur(1px);
}

/* action */

/* .face 안 */
/* 눈썹 */
@keyframes leftEyebrowMoving {
  40% {
    transform: rotate(7deg) scalex(-1);
  }
  100% {
    transform: rotate(18deg) scalex(-1);
  }
}
@keyframes rightEyebrowMoving {
  40% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(-18deg);
  }
}

/* 볼터치 */
@keyframes cheekMoving {
  40% {
    background-color: #c58c78b8;
  }
  100% {
    background-color: #c23200b8;
  }
}

/* 코 */
@keyframes noseMoving {
  40% {
    top: 63%;
  }
  100% {
    top: 61%;
  }
}

/* 입 */
@keyframes mouthMoving {
  40% {
    top: 76%;
  }
  100% {
    top: 74%;
  }
}
@keyframes lipMoving {
  40% {
    top: -11%;
    height: 10px;

    border-width: 1px 1px 0 1px;
    /* border-style: solid;
    border-color: #d28dbc; */
    border-radius: 30% 80% 30% 30%;

    background-color: #d28dbc;
  }

  80% {
    top: -30%;

    height: 15px;

    border-width: 5px 1px 0 1px;
    border-style: solid;
    border-color: #d28dbc;
    border-radius: 90% 90% 0 0;

    background-color: #b0d27c;
  }
  100% {
    top: -30%;

    height: 15px;

    border-width: 5px 1px 0 1px;
    border-style: solid;
    border-color: #d28dbc;
    border-radius: 90% 90% 0 0;

    background-color: #b0d27c;
  }
}

/* 눈 관련 */
/* 속눈썹 */
@keyframes leftEyelashMoving {
  8% {
    top: 46px;
    transform: rotate(-45deg) scale(-1);
  }
  18% {
    top: -21px;
    transform: rotate(51deg) scalex(-1);
  }
  30% {
    top: 46px;
    transform: rotate(-45deg) scale(-1);
  }
  42% {
    top: -21px;
    transform: rotate(51deg) scalex(-1);
  }
  100% {
    top: -24px;
    transform: rotate(60deg) scalex(-1);
  }
}
@keyframes rigthEyelashMoving {
  8% {
    top: 62px;
    right: -26px;

    transform: rotate(51deg) scaleY(-1);
  }
  18% {
    top: -14px;
    transform: rotate(-42deg);
  }
  30% {
    top: 62px;
    right: -26px;

    transform: rotate(51deg) scaleY(-1);
  }
  43% {
    top: -14px;
    right: -30px;

    transform: rotate(-42deg);
  }
  100% {
    top: -21px;
    right: -26px;
    transform: rotate(-56deg);
  }
}

/* 메인 눈 */
@keyframes lefEyeMoving {
  10% {
    border-width: 0 1px 1px 1px;

    border-style: solid;
    border-color: #579545;

    background-color: #a8ca75;

    box-shadow: 2px -3px 5px #996d57 inset, -3px 4px 0 #579545,
      -5px 8px 10px #7fb860;
  }
  18% {
    background-color: #e2e4d7;
    box-shadow: -2px -3px 5px #996d57, -3px 4px 0 #579545, -5px 8px 10px #7fb860;
  }

  30% {
    border-width: 0 1px 1px 1px;

    border-style: solid;
    border-color: #579545;

    background-color: #a8ca75;

    box-shadow: 2px -3px 5px #996d57 inset, -3px 4px 0 #579545,
      -5px 8px 10px #7fb860;
  }
  40% {
    height: 70px;

    background-color: #e2e4d7;
    box-shadow: -2px -3px 5px #996d57, -3px 4px 0 #579545, -5px 8px 10px #7fb860;
  }
  100% {
    height: 50px;
  }
}
@keyframes rigthEyeMovig {
  10% {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #579545;

    background-color: #a8ca75;

    box-shadow: -2px -3px 5px #996d57 inset, 3px 4px 0 #579545,
      5px 8px 10px #7fb860;
  }

  18% {
    background-color: #e2e4d7;
    box-shadow: 2px -3px 5px #996d57, 3px 4px 0 #579545, 5px 8px 10px #7fb860;
  }
  30% {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #579545;

    background-color: #a8ca75;

    box-shadow: -2px -3px 5px #996d57 inset, 3px 4px 0 #579545,
      5px 8px 10px #7fb860;
  }

  40% {
    height: 80px;

    background-color: #e2e4d7;
    box-shadow: 2px -3px 5px #996d57, 3px 4px 0 #579545, 5px 8px 10px #7fb860;
  }
  100% {
    height: 60px;
  }
}

/* 위 아이라인 */
@keyframes leftEyelineMoving {
  10% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;

    height: 70px;
  }
  100% {
    height: 50px;
  }
}
@keyframes rightEyelineMoving {
  10% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    height: 80px;
  }
  100% {
    height: 60px;
  }
}

/* 눈 감았을때 아이라인 */
@keyframes closeEyeline {
  10% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

/* 눈동자 위치 */
@keyframes leftEyeMoving {
  10% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  36% {
    top: -20%;
    opacity: 1;
  }

  100% {
    top: -40%;
  }
}
@keyframes rightEyeMoving {
  10% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  36% {
    top: -20%;
    left: 20%;

    opacity: 1;
  }

  100% {
    top: -30%;
    left: 10%;
  }
}
